In [188]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [191]:
train = pd.read_csv("../../../datasets/mental-health/train.csv")
test = pd.read_csv("../../../datasets/mental-health/test.csv")

In [192]:
train.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [193]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140700 non-null  int64
 1   Name                                   140700 non-null  object
 2   Gender                                 140700 non-null  object
 3   Age                                    140700 non-null  float64
 4   City                                   140700 non-null  object
 5   Working Professional or Student        140700 non-null  object
 6   Profession                             104070 non-null  object
 7   Academic Pressure                      27897 non-null   float64
 8   Work Pressure                          112782 non-null  float64
 9   CGPA                                   27898 non-null   float64
 10  Study Satisfaction                     27897 non-null   float64
 11  Job Satisfaction                       112790 non-null  float64
 12  Sleep Duration                         140700 non-null  object
 13  Dietary Habits                         140696 non-null  object
 14  Degree                                 140698 non-null  object
 15  Have you ever had suicidal thoughts ?  140700 non-null  object
 16  Work/Study Hours                       140700 non-null  float64
 17  Financial Stress                       140696 non-null  float64
 18  Family History of Mental Illness       140700 non-null  object
 19  Depression                             140700 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 21.5+ MB

In [194]:
train.isna().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                36630
Academic Pressure                        112803
Work Pressure                             27918
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [195]:
test.isna().sum()

id                                           0
Name                                         0
Gender                                       0
Age                                          0
City                                         0
Working Professional or Student              0
Profession                               24632
Academic Pressure                        75033
Work Pressure                            18778
CGPA                                     75034
Study Satisfaction                       75033
Job Satisfaction                         18774
Sleep Duration                               0
Dietary Habits                               5
Degree                                       2
Have you ever had suicidal thoughts ?        0
Work/Study Hours                             0
Financial Stress                             0
Family History of Mental Illness             0
dtype: int64

In [197]:
print(f"Dietary Habits: {train['Dietary Habits'].unique()}")
print(f"Degree: {train['Degree'].unique()}")
print(f"Financial Stress: {train['Financial Stress'].unique()}")
print(f"Job Satisfaction: {train['Job Satisfaction'].unique()}")
print(f"Study Satisfaction: {train['Study Satisfaction'].unique()}")
print(f"CGPA: {train['CGPA'].unique()}")
print(f"Work Pressure: {train['Work Pressure'].unique()}")
print(f"Academic Pressure: {train['Academic Pressure'].unique()}")
print(f"Profession: {train['Profession'].unique()}")

Dietary Habits: ['Healthy' 'Unhealthy' 'Moderate' 'Yes' 'Pratham' 'BSc' 'Gender' '3'
 'More Healthy' 'Less than Healthy' 'Mihir' '1.0' 'Hormonal' 'Electrician'
 nan 'No Healthy' 'Less Healthy' 'M.Tech' 'Vegas' 'No' 'Male' 'Indoor'
 'Class 12' '2']
Degree: ['BHM' 'LLB' 'B.Pharm' 'BBA' 'MCA' 'MD' 'BSc' 'ME' 'B.Arch' 'BCA' 'BE'
 'MA' 'B.Ed' 'B.Com' 'MBA' 'M.Com' 'MHM' 'BA' 'Class 12' 'M.Tech' 'PhD'
 'M.Ed' 'MSc' 'B.Tech' 'LLM' 'MBBS' 'M.Pharm' 'UX/UI Designer' 'MPA' 'BH'
 'Nalini' 'BEd' 'B.Sc' 'Veda' 'Bhopal' 'S.Tech' 'Degree' '20' 'Class 11'
 'H_Pharm' 'M' 'P.Com' 'BPharm' 'Business Analyst' 'M.Arch' 'LL.Com'
 'Data Scientist' 'MPharm' 'L.Ed' 'P.Pharm' 'Kalyan' 'Unite' 'BArch'
 'HR Manager' 'Badhya' 'S.Pharm' 'LLBA' 'Vrinda' 'M. Business Analyst'
 'Bhavesh' '0' 'LLCom' '29' 'MTech' 'Vivaan' 'BPA' 'Plumber' '5.61' 'Brit'
 'B.03' 'Ritik' '5.56' 'MEd' 'B' 'B BA' '7.06' 'B.B.Arch' 'ACA' 'Brithika'
 'CGPA' '24' 'M_Tech' 'Pihu' 'BB' 'Jhanvi' 'LLTech' 'Aarav' 'Entrepreneur'
 '8.56' 'LHM' 'Lata' 'S.Arch' 'Marsh' 'HCA' '5.88' 'B.Student' 'LL B.Ed'
 'M.S' 'Navya' 'Mahika' nan 'K.Ed' 'B.3.79' 'Mthanya'
 'Working Professional' 'Esha' 'LLS' 'LLEd' 'E.Tech' 'Doctor' 'N.Pharm'
 'LCA' 'B B.Com' 'RCA' 'Mihir' 'Advait']
Financial Stress: [ 2.  3.  1.  4.  5. nan]
Job Satisfaction: [ 2.  3. nan  1.  5.  4.]
Study Satisfaction: [nan  2.  5.  3.  4.  1.]
CGPA: [    nan  8.97    5.9     7.03    5.59    8.13    5.7     9.54    8.04
  9.79    8.38    6.1     7.04    8.52    5.64    8.58    6.51    7.25
  7.83    9.93    8.74    6.73    5.57    8.59    7.1     6.08    5.74
  9.86    6.7     6.21    5.87    6.37    9.72    5.88    9.56    6.99
  5.24    9.21    7.85    6.95    5.86    7.92    9.66    8.94    9.71
  7.87    5.6     7.9     5.46    6.79    8.7     7.38    8.5     7.09
  9.82    8.89    7.94    9.11    6.75    7.53    9.49    9.01    7.64
  5.27    6.      9.44    5.75    7.51    9.05    6.38    8.95    9.88
  5.32    6.27    7.7     8.1     9.59    8.96    5.51    7.43    8.79
  9.95    5.37    6.86    8.32    9.74    5.66    7.48    8.23    8.81
  6.03    5.56    5.68    5.14    7.61    6.17    8.17    9.87    8.75
  6.16    9.5     7.99    5.67    8.92    6.19    5.76    6.25    5.11
  5.58    5.65    9.89    8.03    6.61    9.41    8.64    7.21    8.28
  6.04    9.13    8.08    9.96    5.12    8.35    7.07    9.6     9.24
  8.54    8.78    8.93    8.91    9.04    6.83    5.85    7.74    6.41
  8.9     7.75    7.88    5.42    7.52    7.68    8.4     9.39    6.84
  5.99    8.62    8.53    7.47    6.78    6.42    9.92    8.39    5.89
  7.22    6.81    9.02    9.97    9.63    9.67    5.41    7.27    6.05
  6.85    9.33    5.81    6.53    5.98    6.02    6.74    5.26    7.72
  7.39    8.43    9.34    5.44    5.82    5.72    8.19    8.44    8.98
  9.37    5.8     7.28    7.6     7.91    9.17    7.46    9.43    9.91
  9.36    5.16    7.08    9.26    8.83   10.      7.8     9.46    6.63
  7.24    6.47    7.77    5.06    7.17    8.24    6.88    9.03    5.08
  5.45    8.46    9.19    6.36    8.73    7.11    9.12    9.4     8.11
  9.98    5.55    8.61    8.14    6.89    9.84    5.48    8.21    7.82
  8.55    5.79    8.77    8.29    6.92    7.37    9.7     6.26    7.26
  7.5     6.82    7.15    5.77    5.91    5.1     7.71    9.06    5.71
  5.84    9.42    6.23    6.29    5.25    9.69    9.9     6.39    8.09
  5.83    5.47    6.56    8.71    9.94    6.69    5.52    7.3     7.02
  6.33    8.07    8.37    8.      7.79    8.65    6.28    7.35    8.69
  7.12    7.32    7.13    5.97    5.09    6.91    6.76    6.52    7.45
  8.56    6.5     8.63    8.27    8.49    6.59    9.29    5.3     7.06
  5.38    6.65    9.16    8.01    8.25    8.02    8.47    7.34    8.88
  7.14    8.42    5.17    9.1     7.49    9.85    7.42    9.31    6.35
  7.      5.39    5.61    9.78    9.25    5.69    9.47    8.16    7.23
  6.46    8.26    6.32    6.77    8.85    5.03    7.65    5.78    6.24
  5.35    6.06    7.78    6.64    7.0625  6.98    6.44    6.09  ]
Work Pressure: [ 5.  4. nan  1.  2.  3.]
Academic Pressure: [nan  5.  2.  3.  4.  1.]
Profession: ['Chef' 'Teacher' nan 'Business Analyst' 'Finanancial Analyst' 'Chemist'
 'Electrician' 'Software Engineer' 'Data Scientist' 'Plumber'
 'Marketing Manager' 'Accountant' 'Entrepreneur' 'HR Manager'
 'UX/UI Designer' 'Content Writer' 'Educational Consultant'
 'Civil Engineer' 'Manager' 'Pharmacist' 'Financial Analyst' 'Architect'
 'Mechanical Engineer' 'Customer Support' 'Consultant' 'Judge'
 'Researcher' 'Pilot' 'Graphic Designer' 'Travel Consultant'
 'Digital Marketer' 'Lawyer' 'Research Analyst' 'Sales Executive' 'Doctor'
 'Unemployed' 'Investment Banker' 'Family Consultant' 'B.Com' 'BE'
 'Student' 'Yogesh' 'Dev' 'MBA' 'LLM' 'BCA' 'Academic' 'Profession'
 'FamilyVirar' 'City Manager' 'BBA' 'Medical Doctor'
 'Working Professional' 'MBBS' 'Patna' 'Unveil' 'B.Ed' 'Nagpur' 'Moderate'
 'M.Ed' 'Analyst' 'Pranav' 'Visakhapatnam' 'PhD' 'Yuvraj']

In [198]:
df = train.copy()

In [199]:
df[df['Dietary Habits'].isin(['Yes', 'Pratham', 'Bsc', 'M.Tech', 'Vegas', 'No', 'Male', 'Indoor',
 'Class 12', '2'])]

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
2943,2943,Naina,Female,24.0,Patna,Working Professional,Teacher,NaN,3.0,NaN,NaN,2.0,Less than 5 hours,Yes,LLB,Yes,3.0,5.0,Yes,0
4495,4495,Aarav,Male,31.0,Vadodara,Working Professional,Researcher,NaN,4.0,NaN,NaN,2.0,7-8 hours,Pratham,MCA,Yes,5.0,4.0,No,0
76041,76041,Navya,Female,27.0,Lucknow,Student,NaN,5.0,NaN,5.82,3.0,NaN,Less than 5 hours,M.Tech,BSc,Yes,7.0,1.0,No,1
86011,86011,Gaurav,Male,51.0,Lucknow,Working Professional,Pharmacist,NaN,2.0,NaN,NaN,1.0,7-8 hours,Vegas,B.Pharm,No,8.0,2.0,No,0
95502,95502,Mahi,Female,58.0,Nagpur,Working Professional,Plumber,NaN,3.0,NaN,NaN,2.0,5-6 hours,No,PhD,No,12.0,1.0,Yes,0
103062,103062,Nikhil,Male,49.0,Bhopal,Working Professional,Graphic Designer,NaN,5.0,NaN,NaN,4.0,Less than 5 hours,No,BCA,No,11.0,2.0,Yes,0
113519,113519,Vikram,Male,30.0,Ghaziabad,Student,NaN,5.0,NaN,5.99,2.0,NaN,7-8 hours,Male,M.Ed,Yes,7.0,4.0,No,1
118423,118423,Abhishek,Male,24.0,Kolkata,Student,NaN,1.0,NaN,8.47,2.0,NaN,7-8 hours,Yes,MCA,Yes,0.0,5.0,No,1
123065,123065,Zara,Female,29.0,Srinagar,Working Professional,Architect,NaN,3.0,NaN,NaN,2.0,7-8 hours,Indoor,BSc,No,4.0,3.0,Yes,1
130206,130206,Trisha,Female,46.0,Varanasi,Working Professional,Teacher,NaN,3.0,NaN,NaN,5.0,7-8 hours,Class 12,LLM,No,0.0,4.0,No,0
131345,131345,Arnav,Male,25.0,Vasai-Virar,Student,NaN,3.0,NaN,5.60,3.0,NaN,Less than 5 hours,2,BCA,Yes,2.0,1.0,No,0

In [201]:
df['Dietary Habits'].value_counts()

Dietary Habits
Moderate             49705
Unhealthy            46227
Healthy              44741
Yes                      2
No                       2
More Healthy             2
No Healthy               1
Class 12                 1
Indoor                   1
Male                     1
Vegas                    1
M.Tech                   1
Less Healthy             1
1.0                      1
Electrician              1
Hormonal                 1
Mihir                    1
Less than Healthy        1
3                        1
Gender                   1
BSc                      1
Pratham                  1
2                        1
Name: count, dtype: int64

In [202]:
rare_values = df['Dietary Habits'].value_counts()[df['Dietary Habits'].value_counts() <= 2].index
df.loc[df['Dietary Habits'].isin(rare_values), 'Dietary Habits'] = np.nan

In [203]:
df['Dietary Habits'].isna().sum()

27

In [204]:
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [205]:
df['Dietary Habits'].fillna(df['Dietary Habits'].mode()[0], inplace=True)

/var/folders/zb/k27lq7kd1fg8w41tpnwzc1000000gq/T/ipykernel_11655/465198713.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Dietary Habits'].fillna(df['Dietary Habits'].mode()[0], inplace=True)

In [206]:
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [207]:
df['Dietary Habits'].isna().sum()

0

In [208]:
df['Degree'].value_counts()

Degree
Class 12    14729
B.Ed        11691
B.Arch       8742
B.Com        8113
B.Pharm      5856
            ...
Vivaan          1
MTech           1
29              1
LLCom           1
Advait          1
Name: count, Length: 115, dtype: int64

In [209]:
df[df['Degree'].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)]

/var/folders/zb/k27lq7kd1fg8w41tpnwzc1000000gq/T/ipykernel_11655/1897285325.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df[df['Degree'].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)]

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
16067,16067,Rudransh,Male,20.0,Lucknow,Student,NaN,2.0,NaN,9.36,3.0,NaN,7-8 hours,Unhealthy,20,No,2.0,5.0,No,1
40387,40387,Aahana,Female,24.0,Srinagar,Student,NaN,3.0,NaN,6.37,1.0,NaN,Less than 5 hours,Healthy,0,Yes,12.0,5.0,Yes,1
44512,44512,Prisha,Female,18.0,Vadodara,Working Professional,Consultant,NaN,5.0,NaN,NaN,4.0,Less than 5 hours,Moderate,29,No,11.0,1.0,No,0
45833,45833,Rohan,Male,40.0,Hyderabad,Working Professional,Researcher,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Moderate,5.61,No,3.0,2.0,No,0
52739,52739,Ansh,Male,54.0,Vasai-Virar,Working Professional,NaN,NaN,4.0,NaN,NaN,1.0,Less than 5 hours,Unhealthy,5.56,Yes,6.0,3.0,No,0
61472,61472,Gaurav,Male,23.0,Mumbai,Student,NaN,1.0,NaN,6.84,5.0,NaN,5-6 hours,Moderate,7.06,No,7.0,1.0,No,0
68882,68882,Harsha,Male,24.0,Rajkot,Student,NaN,3.0,NaN,8.89,3.0,NaN,7-8 hours,Unhealthy,24,Yes,9.0,5.0,No,1
81326,81326,Chirag,Male,20.0,Vadodara,Student,NaN,3.0,NaN,8.24,3.0,NaN,7-8 hours,Unhealthy,8.56,Yes,2.0,4.0,No,1
96059,96059,Prisha,Female,23.0,Ahmedabad,Working Professional,NaN,NaN,1.0,NaN,NaN,5.0,7-8 hours,Unhealthy,5.88,No,1.0,1.0,No,0

In [210]:
degree_invalid = df['Degree'].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

/var/folders/zb/k27lq7kd1fg8w41tpnwzc1000000gq/T/ipykernel_11655/1279528730.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  degree_invalid = df['Degree'].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

In [211]:
df.drop(df[degree_invalid].index, inplace=True)

In [212]:
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [213]:
print(f"Degree: {df['Degree'].unique()}")

Degree: ['BHM' 'LLB' 'B.Pharm' 'BBA' 'MCA' 'MD' 'BSc' 'ME' 'B.Arch' 'BCA' 'BE'
 'MA' 'B.Ed' 'B.Com' 'MBA' 'M.Com' 'MHM' 'BA' 'Class 12' 'M.Tech' 'PhD'
 'M.Ed' 'MSc' 'B.Tech' 'LLM' 'MBBS' 'M.Pharm' 'UX/UI Designer' 'MPA' 'BH'
 'Nalini' 'BEd' 'B.Sc' 'Veda' 'Bhopal' 'S.Tech' 'Degree' 'Class 11'
 'H_Pharm' 'M' 'P.Com' 'BPharm' 'Business Analyst' 'M.Arch' 'LL.Com'
 'Data Scientist' 'MPharm' 'L.Ed' 'P.Pharm' 'Kalyan' 'Unite' 'BArch'
 'HR Manager' 'Badhya' 'S.Pharm' 'LLBA' 'Vrinda' 'M. Business Analyst'
 'Bhavesh' 'LLCom' 'MTech' 'Vivaan' 'BPA' 'Plumber' 'Brit' 'B.03' 'Ritik'
 'MEd' 'B' 'B BA' 'B.B.Arch' 'ACA' 'Brithika' 'CGPA' 'M_Tech' 'Pihu' 'BB'
 'Jhanvi' 'LLTech' 'Aarav' 'Entrepreneur' 'LHM' 'Lata' 'S.Arch' 'Marsh'
 'HCA' 'B.Student' 'LL B.Ed' 'M.S' 'Navya' 'Mahika' nan 'K.Ed' 'B.3.79'
 'Mthanya' 'Working Professional' 'Esha' 'LLS' 'LLEd' 'E.Tech' 'Doctor'
 'N.Pharm' 'LCA' 'B B.Com' 'RCA' 'Mihir' 'Advait']

In [214]:
df[df['Degree'].isin(['Nalini', 'B.3.79', 'B.03', 'Mihir', 'Veda', 'Bhopal', 'Degree', 'Kalyan', 'Unite', 'Badhya', 'Vrinda', 'Bhavesh', 'Vivaan', 'Ritik', 'Brit', 'Brithika', 'Pihu', 'Jhanvi', 'Aarav', 'Lata', 'Marsh', 'Navya', 'Mahika', 'Mthanya', 'Esha', 'Mihir', 'Advait'])]['Degree'].value_counts()

Degree
Kalyan      3
Nalini      2
Jhanvi      2
Bhopal      2
Degree      2
Mihir       1
Esha        1
Mthanya     1
B.3.79      1
Mahika      1
Navya       1
Marsh       1
Lata        1
Aarav       1
Brithika    1
Pihu        1
Veda        1
Ritik       1
B.03        1
Brit        1
Vivaan      1
Bhavesh     1
Vrinda      1
Badhya      1
Unite       1
Advait      1
Name: count, dtype: int64

In [215]:
degree_invalid = df['Degree'].isin(['Nalini', 'B.3.79', 'B.03', 'Mihir', 'Veda', 'Bhopal', 'Degree', 
                          'Kalyan', 'Unite', 'Badhya', 'Vrinda', 'Bhavesh', 'Vivaan', 'Ritik', 
                          'Brit', 'Brithika', 'Pihu', 'Jhanvi', 'Aarav', 'Lata', 'Marsh', 
                          'Navya', 'Mahika', 'Mthanya', 'Esha', 'Mihir', 'Advait'])

# Drop rows where the 'Degree' column matches any of the values in the list
df.drop(df[degree_invalid].index, inplace=True)

In [216]:
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [217]:
df['Degree'].value_counts()

Degree
Class 12    14729
B.Ed        11691
B.Arch       8742
B.Com        8113
B.Pharm      5856
            ...
MTech           1
BPA             1
Plumber         1
B BA            1
RCA             1
Name: count, Length: 80, dtype: int64

In [218]:
df['Degree'].isna().sum()

2

In [219]:
len(df)

140659

In [220]:
df.dropna(subset=['Degree'], inplace=True)

In [221]:
df['Degree'].isna().sum()

0

In [222]:
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [224]:
df['Financial Stress'] = df['Financial Stress'].fillna(df['Financial Stress'].mean())
df['Job Satisfaction'] = df['Job Satisfaction'].fillna(df['Job Satisfaction'].mean())
df['Study Satisfaction'] = df['Study Satisfaction'].fillna(df['Study Satisfaction'].mean())

In [225]:
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,2.94509,2.000000,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,2.94509,3.000000,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.00000,2.974406,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,2.94509,1.000000,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,2.94509,1.000000,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [226]:
df['Work Pressure'] = df['Work Pressure'].fillna(df['Work Pressure'].mean())
df['Academic Pressure'] = df['Academic Pressure'].fillna(df['Academic Pressure'].mean())

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140657 entries, 0 to 140699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140657 non-null  int64
 1   Name                                   140657 non-null  object
 2   Gender                                 140657 non-null  object
 3   Age                                    140657 non-null  float64
 4   City                                   140657 non-null  object
 5   Working Professional or Student        140657 non-null  object
 6   Profession                             104048 non-null  object
 7   Academic Pressure                      140657 non-null  float64
 8   Work Pressure                          140657 non-null  float64
 9   CGPA                                   27883 non-null   float64
 10  Study Satisfaction                     140657 non-null  float64
 11  Job Satisfaction                       140657 non-null  float64
 12  Sleep Duration                         140657 non-null  object
 13  Dietary Habits                         140657 non-null  object
 14  Degree                                 140657 non-null  object
 15  Have you ever had suicidal thoughts ?  140657 non-null  object
 16  Work/Study Hours                       140657 non-null  float64
 17  Financial Stress                       140657 non-null  float64
 18  Family History of Mental Illness       140657 non-null  object
 19  Depression                             140657 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 22.5+ MB

In [228]:
df.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,3.142457,5.00000,NaN,2.94509,2.000000,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,3.142457,4.00000,NaN,2.94509,3.000000,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.000000,2.99898,8.97,2.00000,2.974406,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,3.142457,5.00000,NaN,2.94509,1.000000,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,3.142457,1.00000,NaN,2.94509,1.000000,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [230]:
print(f"Gender: {train['Gender'].unique()}")

Gender: ['Female' 'Male']

In [231]:
df.drop(columns=['id', 'Name'], inplace=True)

In [232]:
df.head()

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Female,49.0,Ludhiana,Working Professional,Chef,3.142457,5.00000,NaN,2.94509,2.000000,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,Male,26.0,Varanasi,Working Professional,Teacher,3.142457,4.00000,NaN,2.94509,3.000000,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,Male,33.0,Visakhapatnam,Student,NaN,5.000000,2.99898,8.97,2.00000,2.974406,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,Male,22.0,Mumbai,Working Professional,Teacher,3.142457,5.00000,NaN,2.94509,1.000000,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,Female,30.0,Kanpur,Working Professional,Business Analyst,3.142457,1.00000,NaN,2.94509,1.000000,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [237]:
df['CGPA'].describe()

count    27883.000000
mean         7.658730
std          1.464425
min          5.030000
25%          6.290000
50%          7.770000
75%          8.920000
max         10.000000
Name: CGPA, dtype: float64

In [238]:
df['CGPA'] = df['CGPA'].fillna(df['CGPA'].mean())

In [242]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140657 entries, 0 to 140699
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140657 non-null  object
 1   Age                                    140657 non-null  float64
 2   City                                   140657 non-null  object
 3   Working Professional or Student        140657 non-null  object
 4   Profession                             104048 non-null  object
 5   Academic Pressure                      140657 non-null  float64
 6   Work Pressure                          140657 non-null  float64
 7   CGPA                                   140657 non-null  float64
 8   Study Satisfaction                     140657 non-null  float64
 9   Job Satisfaction                       140657 non-null  float64
 10  Sleep Duration                         140657 non-null  object
 11  Dietary Habits                         140657 non-null  object
 12  Degree                                 140657 non-null  object
 13  Have you ever had suicidal thoughts ?  140657 non-null  object
 14  Work/Study Hours                       140657 non-null  float64
 15  Financial Stress                       140657 non-null  float64
 16  Family History of Mental Illness       140657 non-null  object
 17  Depression                             140657 non-null  int64
dtypes: float64(8), int64(1), object(9)
memory usage: 20.4+ MB

In [246]:
df['Profession'] = df['Profession'].fillna(df['Profession'].mode()[0])

In [247]:
df['Profession'].isna().sum()

0

In [248]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140657 entries, 0 to 140699
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140657 non-null  object
 1   Age                                    140657 non-null  float64
 2   City                                   140657 non-null  object
 3   Working Professional or Student        140657 non-null  object
 4   Profession                             140657 non-null  object
 5   Academic Pressure                      140657 non-null  float64
 6   Work Pressure                          140657 non-null  float64
 7   CGPA                                   140657 non-null  float64
 8   Study Satisfaction                     140657 non-null  float64
 9   Job Satisfaction                       140657 non-null  float64
 10  Sleep Duration                         140657 non-null  object
 11  Dietary Habits                         140657 non-null  object
 12  Degree                                 140657 non-null  object
 13  Have you ever had suicidal thoughts ?  140657 non-null  object
 14  Work/Study Hours                       140657 non-null  float64
 15  Financial Stress                       140657 non-null  float64
 16  Family History of Mental Illness       140657 non-null  object
 17  Depression                             140657 non-null  int64
dtypes: float64(8), int64(1), object(9)
memory usage: 20.4+ MB

In [259]:
# print(f"Dietary Habits: {df['Dietary Habits'].unique()}")
# print(f"Degree: {df['Degree'].unique()}")
# print(f"Financial Stress: {df['Financial Stress'].unique()}")
# print(f"Job Satisfaction: {df['Job Satisfaction'].unique()}")
# print(f"Study Satisfaction: {df['Study Satisfaction'].unique()}")
# print(f"CGPA: {df['CGPA'].unique()}")
# print(f"Work Pressure: {df['Work Pressure'].unique()}")
# print(f"Academic Pressure: {df['Academic Pressure'].unique()}")
print(f"Profession: {df['Profession'].unique()}")

Profession: ['Chef' 'Teacher' 'Business Analyst' 'Finanancial Analyst' 'Chemist'
 'Electrician' 'Software Engineer' 'Data Scientist' 'Plumber'
 'Marketing Manager' 'Accountant' 'Entrepreneur' 'HR Manager'
 'UX/UI Designer' 'Content Writer' 'Educational Consultant'
 'Civil Engineer' 'Manager' 'Pharmacist' 'Financial Analyst' 'Architect'
 'Mechanical Engineer' 'Customer Support' 'Consultant' 'Judge'
 'Researcher' 'Pilot' 'Graphic Designer' 'Travel Consultant'
 'Digital Marketer' 'Lawyer' 'Research Analyst' 'Sales Executive' 'Doctor'
 'Unemployed' 'Investment Banker' 'Family Consultant' 'B.Com' 'BE'
 'Student' 'Yogesh' 'Dev' 'MBA' 'LLM' 'BCA' 'Academic' 'Profession'
 'FamilyVirar' 'City Manager' 'BBA' 'Medical Doctor'
 'Working Professional' 'MBBS' 'Patna' 'Unveil' 'B.Ed' 'Nagpur' 'Moderate'
 'M.Ed' 'Analyst' 'Pranav' 'Visakhapatnam' 'PhD' 'Yuvraj']

In [263]:
profession_invalid = df['Profession'].isin(['Yogesh', 'FamilyVirar', 'Patna', 'Unveil', 'Nagpur', 'Moderate', 'Pranav', 'Visakhapatnam', 'Yuvraj'])
df[profession_invalid].value_counts

<bound method DataFrame.value_counts of         Gender   Age           City Working Professional or Student  \
12526     Male  34.0         Indore            Working Professional
28927     Male  33.0           Agra            Working Professional
29926     Male  56.0         Meerut            Working Professional
44829     Male  34.0       Varanasi            Working Professional
60931   Female  46.0          Patna            Working Professional
65378   Female  52.0       Varanasi            Working Professional
96034   Female  59.0         Nagpur            Working Professional
96534   Female  22.0       Srinagar            Working Professional
120098    Male  57.0          Patna            Working Professional
121697    Male  43.0  Visakhapatnam            Working Professional
129275    Male  43.0      Ahmedabad            Working Professional

           Profession  Academic Pressure  Work Pressure     CGPA  \
12526          Yogesh           3.142457            4.0  7.65873
28927          Yogesh           3.142457            5.0  7.65873
29926     FamilyVirar           3.142457            3.0  7.65873
44829          Yogesh           3.142457            3.0  7.65873
60931           Patna           3.142457            3.0  7.65873
65378          Unveil           3.142457            1.0  7.65873
96034          Nagpur           3.142457            1.0  7.65873
96534        Moderate           3.142457            5.0  7.65873
120098         Pranav           3.142457            2.0  7.65873
121697  Visakhapatnam           3.142457            5.0  7.65873
129275         Yuvraj           3.142457            3.0  7.65873

        Study Satisfaction  Job Satisfaction     Sleep Duration  \
12526              2.94509               1.0  Less than 5 hours
28927              2.94509               1.0          5-6 hours
29926              2.94509               1.0  Less than 5 hours
44829              2.94509               4.0          7-8 hours
60931              2.94509               3.0          5-6 hours
65378              2.94509               1.0  Less than 5 hours
96034              2.94509               4.0          7-8 hours
96534              2.94509               1.0          5-6 hours
120098             2.94509               3.0          5-6 hours
121697             2.94509               4.0          5-6 hours
129275             2.94509               3.0          7-8 hours

       Dietary Habits    Degree Have you ever had suicidal thoughts ?  \
12526       Unhealthy     M.Com                                   Yes
28927       Unhealthy      B.Ed                                   Yes
29926         Healthy       BSc                                    No
44829       Unhealthy      M.Ed                                    No
60931        Moderate       BSc                                   Yes
65378        Moderate  B.B.Arch                                    No
96034       Unhealthy        BE                                   Yes
96534       Unhealthy     B.Com                                   Yes
120098       Moderate       LLB                                    No
121697       Moderate       BSc                                   Yes
129275       Moderate       MSc                                    No

        Work/Study Hours  Financial Stress Family History of Mental Illness  \
12526               10.0               3.0                              Yes
28927                0.0               4.0                              Yes
29926               10.0               2.0                              Yes
44829                4.0               2.0                               No
60931                8.0               1.0                              Yes
65378                5.0               5.0                               No
96034                9.0               1.0                              Yes
96534               10.0               3.0                               No
120098              11.0               1.0                              Yes
121697               0.0               2.0                              Yes
129275               3.0               1.0                               No

        Depression
12526            1
28927            1
29926            0
44829            0
60931            0
65378            0
96034            0
96534            1
120098           0
121697           0
129275           0  >

In [273]:
def encode_columns(df, encoding_dict):
    """
    Encodes specified columns in the DataFrame based on the encoding dictionary.
    
    Parameters:
    df (pd.DataFrame): The input DataFrame.
    encoding_dict (dict): Dictionary with two keys:
        - "binary": List of column names to be binary encoded.
        - "onehot": List of column names to be one-hot encoded.
        
    Returns:
    pd.DataFrame: The modified DataFrame with encoded columns.
    """
    # Binary encode columns
    for col in encoding_dict.get("binary", []):
        # Ensure column has only two unique values before binary encoding
        unique_vals = df[col].dropna().unique()
        if len(unique_vals) == 2:
            df[col] = df[col].map({unique_vals[0]: 0, unique_vals[1]: 1})
        else:
            print(f"Warning: Column '{col}' is not binary and cannot be binary encoded.")
    
    # One-hot encode columns
    df = pd.get_dummies(df, columns=encoding_dict.get("onehot", []), drop_first=True)
    
    return df

In [276]:
df.head()

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,49.0,Ludhiana,0,Chef,3.142457,5.00000,7.65873,2.94509,2.000000,More than 8 hours,Healthy,BHM,0,1.0,2.0,0,0
1,1,26.0,Varanasi,0,Teacher,3.142457,4.00000,7.65873,2.94509,3.000000,Less than 5 hours,Unhealthy,LLB,1,7.0,3.0,0,1
2,1,33.0,Visakhapatnam,1,Teacher,5.000000,2.99898,8.97000,2.00000,2.974406,5-6 hours,Healthy,B.Pharm,1,3.0,1.0,0,1
3,1,22.0,Mumbai,0,Teacher,3.142457,5.00000,7.65873,2.94509,1.000000,Less than 5 hours,Moderate,BBA,1,10.0,1.0,1,1
4,0,30.0,Kanpur,0,Business Analyst,3.142457,1.00000,7.65873,2.94509,1.000000,5-6 hours,Unhealthy,BBA,1,9.0,4.0,1,0

In [277]:
encoding_dict = {
    "binary": ['Gender', 'Working Professional or Student', 'Family History of Mental Illness', 'Have you ever had suicidal thoughts ?'],
    "onehot": ['City', 'Profession', 'Sleep Duration', 'Dietary Habits', 'Degree']
}
encoded_df = encode_columns(df, encoding_dict)

In [279]:
encoded_df

,Gender,Age,Working Professional or Student,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Have you ever had suicidal thoughts ?,Work/Study Hours,...,Degree_P.Com,Degree_P.Pharm,Degree_PhD,Degree_Plumber,Degree_RCA,Degree_S.Arch,Degree_S.Pharm,Degree_S.Tech,Degree_UX/UI Designer,Degree_Working Professional
0,0,49.0,0,3.142457,5.00000,7.65873,2.94509,2.000000,0,1.0,...,False,False,False,False,False,False,False,False,False,False
1,1,26.0,0,3.142457,4.00000,7.65873,2.94509,3.000000,1,7.0,...,False,False,False,False,False,False,False,False,False,False
2,1,33.0,1,5.000000,2.99898,8.97000,2.00000,2.974406,1,3.0,...,False,False,False,False,False,False,False,False,False,False
3,1,22.0,0,3.142457,5.00000,7.65873,2.94509,1.000000,1,10.0,...,False,False,False,False,False,False,False,False,False,False
4,0,30.0,0,3.142457,1.00000,7.65873,2.94509,1.000000,1,9.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,0,18.0,0,3.142457,5.00000,7.65873,2.94509,4.000000,0,2.0,...,False,False,False,False,False,False,False,False,False,False
140696,0,41.0,0,3.142457,5.00000,7.65873,2.94509,4.000000,1,6.0,...,False,False,False,False,False,False,False,False,False,False
140697,0,24.0,0,3.142457,3.00000,7.65873,2.94509,1.000000,0,4.0,...,False,False,False,False,False,False,False,False,False,False
140698,0,49.0,0,3.142457,5.00000,7.65873,2.94509,2.000000,1,10.0,...,False,False,False,False,False,False,False,False,False,False
140699,1,27.0,1,4.000000,2.99898,9.24000,1.00000,2.974406,1,2.0,...,False,False,False,False,False,False,False,False,False,False

In [268]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

In [269]:
def run_binary_classification_models(df, target_column):
    # Separate features (X) and target (y)
    X = df.drop(columns=[target_column])
    y = df[target_column]
    
    # Split the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    # List of classifiers to try
    models = {
        "Logistic Regression": LogisticRegression(),
        "Decision Tree": DecisionTreeClassifier(),
        "Random Forest": RandomForestClassifier(),
        "Support Vector Classifier": SVC(),
        "Naive Bayes": GaussianNB()
    }
    
    results = {}
    
    # Train each model, predict, and calculate confusion matrix
    for model_name, model in models.items():
        # Train the model
        model.fit(X_train, y_train)
        
        # Predict on the test set
        y_pred = model.predict(X_test)
        
        # Calculate confusion matrix
        cm = confusion_matrix(y_test, y_pred)
        accuracy = accuracy_score(y_test, y_pred)
        
        # Store results
        results[model_name] = {
            "Confusion Matrix": cm,
            "Accuracy": accuracy
        }
        
        print(f"{model_name}:")
        print(f"Confusion Matrix:\n{cm}")
        print(f"Accuracy: {accuracy:.2f}")
        print("-" * 30)
    
    return results

In [271]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140657 entries, 0 to 140699
Data columns (total 18 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140657 non-null  int64
 1   Age                                    140657 non-null  float64
 2   City                                   140657 non-null  object
 3   Working Professional or Student        140657 non-null  int64
 4   Profession                             140657 non-null  object
 5   Academic Pressure                      140657 non-null  float64
 6   Work Pressure                          140657 non-null  float64
 7   CGPA                                   140657 non-null  float64
 8   Study Satisfaction                     140657 non-null  float64
 9   Job Satisfaction                       140657 non-null  float64
 10  Sleep Duration                         140657 non-null  object
 11  Dietary Habits                         140657 non-null  object
 12  Degree                                 140657 non-null  object
 13  Have you ever had suicidal thoughts ?  140657 non-null  object
 14  Work/Study Hours                       140657 non-null  float64
 15  Financial Stress                       140657 non-null  float64
 16  Family History of Mental Illness       140657 non-null  int64
 17  Depression                             140657 non-null  int64
dtypes: float64(8), int64(4), object(6)
memory usage: 20.4+ MB

In [280]:
results = run_binary_classification_models(encoded_df, target_column='Depression')
results

/Users/sanughosh/Documents/python-env/myenv3_11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression:
Confusion Matrix:
[[22314   751]
 [  940  4127]]
Accuracy: 0.94
------------------------------
Decision Tree:
Confusion Matrix:
[[21762  1303]
 [ 1229  3838]]
Accuracy: 0.91
------------------------------
Random Forest:
Confusion Matrix:
[[22367   698]
 [ 1101  3966]]
Accuracy: 0.94
------------------------------
Support Vector Classifier:
Confusion Matrix:
[[22340   725]
 [  980  4087]]
Accuracy: 0.94
------------------------------
Naive Bayes:
Confusion Matrix:
[[  487 22578]
 [   16  5051]]
Accuracy: 0.20
------------------------------

{'Logistic Regression': {'Confusion Matrix': array([[22314,   751],
         [  940,  4127]]),
  'Accuracy': 0.9398905161382056},
 'Decision Tree': {'Confusion Matrix': array([[21762,  1303],
         [ 1229,  3838]]),
  'Accuracy': 0.909995734394995},
 'Random Forest': {'Confusion Matrix': array([[22367,   698],
         [ 1101,  3966]]),
  'Accuracy': 0.9360514716337267},
 'Support Vector Classifier': {'Confusion Matrix': array([[22340,   725],
         [  980,  4087]]),
  'Accuracy': 0.9393928622209583},
 'Naive Bayes': {'Confusion Matrix': array([[  487, 22578],
         [   16,  5051]]),
  'Accuracy': 0.19685767097966728}}

In [281]:
df2 = test.copy()

In [282]:
df2.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,140700,Shivam,Male,53.0,Visakhapatnam,Working Professional,Judge,NaN,2.0,NaN,NaN,5.0,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes
1,140701,Sanya,Female,58.0,Kolkata,Working Professional,Educational Consultant,NaN,2.0,NaN,NaN,4.0,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No
2,140702,Yash,Male,53.0,Jaipur,Working Professional,Teacher,NaN,4.0,NaN,NaN,1.0,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No
3,140703,Nalini,Female,23.0,Rajkot,Student,NaN,5.0,NaN,6.84,1.0,NaN,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No
4,140704,Shaurya,Male,47.0,Kalyan,Working Professional,Teacher,NaN,5.0,NaN,NaN,5.0,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No

In [283]:
df2.drop(columns=['id', 'Name'], inplace=True)

In [284]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93800 entries, 0 to 93799
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 93800 non-null  object
 1   Age                                    93800 non-null  float64
 2   City                                   93800 non-null  object
 3   Working Professional or Student        93800 non-null  object
 4   Profession                             69168 non-null  object
 5   Academic Pressure                      18767 non-null  float64
 6   Work Pressure                          75022 non-null  float64
 7   CGPA                                   18766 non-null  float64
 8   Study Satisfaction                     18767 non-null  float64
 9   Job Satisfaction                       75026 non-null  float64
 10  Sleep Duration                         93800 non-null  object
 11  Dietary Habits                         93795 non-null  object
 12  Degree                                 93798 non-null  object
 13  Have you ever had suicidal thoughts ?  93800 non-null  object
 14  Work/Study Hours                       93800 non-null  float64
 15  Financial Stress                       93800 non-null  float64
 16  Family History of Mental Illness       93800 non-null  object
dtypes: float64(8), object(9)
memory usage: 12.2+ MB

In [307]:
print(f"Degree: {df2['Degree'].unique()}")
print(f"Degree: {df['Degree'].unique()}")
# print(f"Degree: {df2['Degree'].unique()}")
# print(f"Financial Stress: {df2['Financial Stress'].unique()}")
# print(f"Job Satisfaction: {df2['Job Satisfaction'].unique()}")
# print(f"Study Satisfaction: {df2['Study Satisfaction'].unique()}")
# print(f"CGPA: {df2['CGPA'].unique()}")
# print(f"Work Pressure: {df2['Work Pressure'].unique()}")
# print(f"Academic Pressure: {df2['Academic Pressure'].unique()}")
# print(f"Profession: {df2['Profession'].unique()}")

Degree: ['LLB' 'B.Ed' 'B.Arch' 'BSc' 'BCA' 'B.Com' 'MA' 'BA' 'BBA' 'Class 12' 'MD'
 'MBA' 'M.Ed' 'M.Pharm' 'BHM' 'LLM' 'PhD' 'M.Com' 'BE' 'MBBS' 'B.Tech'
 'ME' 'MCA' 'B.Pharm' 'MHM' 'M.Tech' 'BTech' 'MSc' 'BArch' 'B. Gender'
 'B.Study_Hours' 'Advait' 'M.Arch' 'A.Ed' 'Mechanical Engineer' 'B.H'
 'B.Sc' 'B' 'M.UI' 'Vibha' 'B BCA' 'B.Press' 'BPharm' 'Gagan' 'MPharm'
 'Travel Consultant' nan 'Business Analyst' 'Eshita' 'B_Com' 'Navya'
 'B._Pharm' 'Pune' 'Bian' 'B.M.Com' 'Kavya' 'M.M.Ed' 'S.Pharm' 'Vrinda'
 'M' 'E.Ed' 'Moham' 'B.BA' 'I.Ed' 'Degree' 'Magan' 'B B.Tech' 'M.B.Ed'
 'Bhopal' 'B Financial Analyst' 'GCA' 'G.Ed' 'Rupak' 'RCA' 'B.CA' 'PCA'
 'J.Ed' 'BH' 'BEd' 'Aadhya' 'Banchal' 'M.' 'K.Ed' 'BHCA']
Degree: ['BHM' 'LLB' 'B.Pharm' 'BBA' 'MCA' 'MD' 'BSc' 'ME' 'B.Arch' 'BCA' 'BE'
 'MA' 'B.Ed' 'B.Com' 'MBA' 'M.Com' 'MHM' 'BA' 'Class 12' 'M.Tech' 'PhD'
 'M.Ed' 'MSc' 'B.Tech' 'LLM' 'MBBS' 'M.Pharm' 'UX/UI Designer' 'MPA' 'BH'
 'BEd' 'B.Sc' 'S.Tech' 'Class 11' 'H_Pharm' 'M' 'P.Com' 'BPharm'
 'Business Analyst' 'M.Arch' 'LL.Com' 'Data Scientist' 'MPharm' 'L.Ed'
 'P.Pharm' 'BArch' 'HR Manager' 'S.Pharm' 'LLBA' 'M. Business Analyst'
 'LLCom' 'MTech' 'BPA' 'Plumber' 'MEd' 'B' 'B BA' 'B.B.Arch' 'ACA' 'CGPA'
 'M_Tech' 'BB' 'LLTech' 'Entrepreneur' 'LHM' 'S.Arch' 'HCA' 'B.Student'
 'LL B.Ed' 'M.S' 'K.Ed' 'Working Professional' 'LLS' 'LLEd' 'E.Tech'
 'Doctor' 'N.Pharm' 'LCA' 'B B.Com' 'RCA']

In [289]:
df2['Dietary Habits'].value_counts()

Dietary Habits
Moderate        33018
Unhealthy       30786
Healthy         29966
No                  6
More Healthy        2
Academic            1
Naina               1
1.0                 1
Raghav              1
Vivaan              1
5 Unhealthy         1
Soham               1
Educational         1
MCA                 1
5 Healthy           1
Resistant           1
Mealy               1
Less Healthy        1
Male                1
Prachi              1
Indoor              1
Kolkata             1
Name: count, dtype: int64

In [290]:
rare_values_test = df2['Dietary Habits'].value_counts()[df2['Dietary Habits'].value_counts() <= 6].index
df2.loc[df2['Dietary Habits'].isin(rare_values_test), 'Dietary Habits'] = np.nan

In [292]:
df2['Dietary Habits'].isna().sum()
df2['Dietary Habits'].fillna(df2['Dietary Habits'].mode()[0], inplace=True)

/var/folders/zb/k27lq7kd1fg8w41tpnwzc1000000gq/T/ipykernel_11655/2784730532.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Dietary Habits'].fillna(df2['Dietary Habits'].mode()[0], inplace=True)

In [297]:
df2[df2['Degree'].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)]
degree_invalid_test = df2['Degree'].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)
df2.loc[df2['Degree'].isin(degree_invalid_test), 'Degree'] = np.nan

/var/folders/zb/k27lq7kd1fg8w41tpnwzc1000000gq/T/ipykernel_11655/3600647366.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df2[df2['Degree'].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)]
/var/folders/zb/k27lq7kd1fg8w41tpnwzc1000000gq/T/ipykernel_11655/3600647366.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  degree_invalid_test = df2['Degree'].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

In [303]:
# Update 'Degree' column with NaN where it matches the regex pattern for numeric values
df2.loc[df2['Degree'].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True), 'Degree'] = np.nan

/var/folders/zb/k27lq7kd1fg8w41tpnwzc1000000gq/T/ipykernel_11655/946115505.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df2.loc[df2['Degree'].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True), 'Degree'] = np.nan

In [306]:
df2[df2['Degree'].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)]

/var/folders/zb/k27lq7kd1fg8w41tpnwzc1000000gq/T/ipykernel_11655/1868409449.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df2[df2['Degree'].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)]

Empty DataFrame
Columns: [Gender, Age, City, Working Professional or Student, Profession, Academic Pressure, Work Pressure, CGPA, Study Satisfaction, Job Satisfaction, Sleep Duration, Dietary Habits, Degree, Have you ever had suicidal thoughts ?, Work/Study Hours, Financial Stress, Family History of Mental Illness]
Index: []

In [308]:
valid_degrees = df['Degree'].unique()
valid_degrees

array(['BHM', 'LLB', 'B.Pharm', 'BBA', 'MCA', 'MD', 'BSc', 'ME', 'B.Arch',
       'BCA', 'BE', 'MA', 'B.Ed', 'B.Com', 'MBA', 'M.Com', 'MHM', 'BA',
       'Class 12', 'M.Tech', 'PhD', 'M.Ed', 'MSc', 'B.Tech', 'LLM',
       'MBBS', 'M.Pharm', 'UX/UI Designer', 'MPA', 'BH', 'BEd', 'B.Sc',
       'S.Tech', 'Class 11', 'H_Pharm', 'M', 'P.Com', 'BPharm',
       'Business Analyst', 'M.Arch', 'LL.Com', 'Data Scientist', 'MPharm',
       'L.Ed', 'P.Pharm', 'BArch', 'HR Manager', 'S.Pharm', 'LLBA',
       'M. Business Analyst', 'LLCom', 'MTech', 'BPA', 'Plumber', 'MEd',
       'B', 'B BA', 'B.B.Arch', 'ACA', 'CGPA', 'M_Tech', 'BB', 'LLTech',
       'Entrepreneur', 'LHM', 'S.Arch', 'HCA', 'B.Student', 'LL B.Ed',
       'M.S', 'K.Ed', 'Working Professional', 'LLS', 'LLEd', 'E.Tech',
       'Doctor', 'N.Pharm', 'LCA', 'B B.Com', 'RCA'], dtype=object)

In [309]:
df2.loc[~df2['Degree'].isin(valid_degrees), 'Degree'] = np.nan

In [310]:
df2['Degree'].fillna(df2['Degree'].mode()[0], inplace=True)

/var/folders/zb/k27lq7kd1fg8w41tpnwzc1000000gq/T/ipykernel_11655/365839224.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Degree'].fillna(df2['Degree'].mode()[0], inplace=True)

In [313]:
df2['Financial Stress'] = df2['Financial Stress'].fillna(df2['Financial Stress'].mean())
df2['Job Satisfaction'] = df2['Job Satisfaction'].fillna(df2['Job Satisfaction'].mean())
df2['Study Satisfaction'] = df2['Study Satisfaction'].fillna(df2['Study Satisfaction'].mean())
df2['Work Pressure'] = df2['Work Pressure'].fillna(df2['Work Pressure'].mean())
df2['Academic Pressure'] = df2['Academic Pressure'].fillna(df2['Academic Pressure'].mean())

In [314]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93800 entries, 0 to 93799
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 93800 non-null  object
 1   Age                                    93800 non-null  float64
 2   City                                   93800 non-null  object
 3   Working Professional or Student        93800 non-null  object
 4   Profession                             69168 non-null  object
 5   Academic Pressure                      93800 non-null  float64
 6   Work Pressure                          93800 non-null  float64
 7   CGPA                                   18766 non-null  float64
 8   Study Satisfaction                     93800 non-null  float64
 9   Job Satisfaction                       93800 non-null  float64
 10  Sleep Duration                         93800 non-null  object
 11  Dietary Habits                         93800 non-null  object
 12  Degree                                 93800 non-null  object
 13  Have you ever had suicidal thoughts ?  93800 non-null  object
 14  Work/Study Hours                       93800 non-null  float64
 15  Financial Stress                       93800 non-null  float64
 16  Family History of Mental Illness       93800 non-null  object
dtypes: float64(8), object(9)
memory usage: 12.2+ MB

In [315]:
valid_profession_test = df['Profession'].unique()
valid_profession_test

array(['Chef', 'Teacher', 'Business Analyst', 'Finanancial Analyst',
       'Chemist', 'Electrician', 'Software Engineer', 'Data Scientist',
       'Plumber', 'Marketing Manager', 'Accountant', 'Entrepreneur',
       'HR Manager', 'UX/UI Designer', 'Content Writer',
       'Educational Consultant', 'Civil Engineer', 'Manager',
       'Pharmacist', 'Financial Analyst', 'Architect',
       'Mechanical Engineer', 'Customer Support', 'Consultant', 'Judge',
       'Researcher', 'Pilot', 'Graphic Designer', 'Travel Consultant',
       'Digital Marketer', 'Lawyer', 'Research Analyst',
       'Sales Executive', 'Doctor', 'Unemployed', 'Investment Banker',
       'Family Consultant', 'B.Com', 'BE', 'Student', 'Yogesh', 'Dev',
       'MBA', 'LLM', 'BCA', 'Academic', 'Profession', 'FamilyVirar',
       'City Manager', 'BBA', 'Medical Doctor', 'Working Professional',
       'MBBS', 'Patna', 'Unveil', 'B.Ed', 'Nagpur', 'Moderate', 'M.Ed',
       'Analyst', 'Pranav', 'Visakhapatnam', 'PhD', 'Yuvraj'],
      dtype=object)

In [316]:
df2.loc[~df2['Profession'].isin(valid_profession_test), 'Profession'] = np.nan

In [317]:
df2['Profession'].fillna(df2['Profession'].mode()[0], inplace=True)

/var/folders/zb/k27lq7kd1fg8w41tpnwzc1000000gq/T/ipykernel_11655/86471330.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Profession'].fillna(df2['Profession'].mode()[0], inplace=True)

In [318]:
df2['CGPA'] = df2['CGPA'].fillna(df2['CGPA'].mean())

In [319]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93800 entries, 0 to 93799
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 93800 non-null  object
 1   Age                                    93800 non-null  float64
 2   City                                   93800 non-null  object
 3   Working Professional or Student        93800 non-null  object
 4   Profession                             93800 non-null  object
 5   Academic Pressure                      93800 non-null  float64
 6   Work Pressure                          93800 non-null  float64
 7   CGPA                                   93800 non-null  float64
 8   Study Satisfaction                     93800 non-null  float64
 9   Job Satisfaction                       93800 non-null  float64
 10  Sleep Duration                         93800 non-null  object
 11  Dietary Habits                         93800 non-null  object
 12  Degree                                 93800 non-null  object
 13  Have you ever had suicidal thoughts ?  93800 non-null  object
 14  Work/Study Hours                       93800 non-null  float64
 15  Financial Stress                       93800 non-null  float64
 16  Family History of Mental Illness       93800 non-null  object
dtypes: float64(8), object(9)
memory usage: 12.2+ MB

In [331]:

X = encoded_df.drop(columns=['Depression'])
y = encoded_df['Depression']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [332]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93800 entries, 0 to 93799
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 93800 non-null  int64
 1   Age                                    93800 non-null  float64
 2   City                                   93800 non-null  object
 3   Working Professional or Student        93800 non-null  int64
 4   Profession                             93800 non-null  object
 5   Academic Pressure                      93800 non-null  float64
 6   Work Pressure                          93800 non-null  float64
 7   CGPA                                   93800 non-null  float64
 8   Study Satisfaction                     93800 non-null  float64
 9   Job Satisfaction                       93800 non-null  float64
 10  Sleep Duration                         93800 non-null  object
 11  Dietary Habits                         93800 non-null  object
 12  Degree                                 93800 non-null  object
 13  Have you ever had suicidal thoughts ?  93800 non-null  int64
 14  Work/Study Hours                       93800 non-null  float64
 15  Financial Stress                       93800 non-null  float64
 16  Family History of Mental Illness       93800 non-null  int64
dtypes: float64(8), int64(4), object(5)
memory usage: 12.2+ MB

In [333]:
encoded_df2 = encode_columns(df2, encoding_dict)

In [335]:
encoded_df2

,Gender,Age,Working Professional or Student,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Have you ever had suicidal thoughts ?,Work/Study Hours,...,Degree_MBBS,Degree_MCA,Degree_MD,Degree_ME,Degree_MHM,Degree_MPharm,Degree_MSc,Degree_PhD,Degree_RCA,Degree_S.Pharm
0,0,53.0,0,3.158576,2.000000,7.674016,2.939522,5.00000,0,9.0,...,False,False,False,False,False,False,False,False,False,False
1,1,58.0,0,3.158576,2.000000,7.674016,2.939522,4.00000,0,6.0,...,False,False,False,False,False,False,False,False,False,False
2,0,53.0,0,3.158576,4.000000,7.674016,2.939522,1.00000,1,12.0,...,False,False,False,False,False,False,False,False,False,False
3,1,23.0,1,5.000000,3.011797,6.840000,1.000000,2.96092,1,10.0,...,False,False,False,False,False,False,False,False,False,False
4,0,47.0,0,3.158576,5.000000,7.674016,2.939522,5.00000,1,3.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93795,1,49.0,0,3.158576,3.000000,7.674016,2.939522,5.00000,1,2.0,...,False,False,False,False,False,False,False,False,False,False
93796,0,29.0,0,3.158576,5.000000,7.674016,2.939522,1.00000,1,11.0,...,False,False,False,False,False,False,False,False,False,False
93797,0,24.0,1,1.000000,3.011797,7.510000,4.000000,2.96092,0,7.0,...,False,False,False,False,False,False,False,False,False,False
93798,1,23.0,0,3.158576,4.000000,7.674016,2.939522,2.00000,1,7.0,...,False,False,False,False,False,False,False,False,False,False
93799,1,43.0,0,3.158576,5.000000,7.674016,2.939522,2.00000,0,11.0,...,False,False,False,False,False,False,False,False,False,False

In [336]:
svc_model = SVC()
svc_model.fit(X_train, y_train)

SVC()

In [338]:
encoded_df2 = encoded_df2.reindex(columns=X_train.columns, fill_value=0)

In [340]:
test_predictions = svc_model.predict(encoded_df2)

In [342]:
test_ids = test['id']
submission = pd.DataFrame({
    'id': test_ids,
    'Depression': test_predictions  
})

# Save the predictions to a CSV file
submission.to_csv('submission.csv', index=False)

# KAGGLE SCORE: 94.003